<style>
    #stats {
        z-index: 100;
        position: fixed;
        bottom: 20px;
        left: 20px;
        color: #5976cf;
    }
    #stats span {
        font-weight: bold;
        font-size: 20px;
    }
</style>

<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<a class="top-left-button" href="/add">NEW WIKI PAGE</a>
<a style="position: fixed; top: 10px; right: 10px; z-index: 3" href="https://github.com/bartolomej/wikipedia-network"
   target="_blank">
    <img width="35px" class="rotate" style="width: 45px" src="public/images/github.png">
</a>

<div id="background-container"></div>
<div id="content-container">
    <form class="form" method="GET" action="/graph">
        <div class="landing-top">
            <h1 style="color: #5976cf">Wikipedia Graph</h1>
            <p style="color: lightslategrey">Visualize network of related Wikipedia pages.</p>
            {{#if error}}
                <p style="color: red">{{error}}.</p>
            {{/if}}
        </div>
        <div class="landing-bottom">
            <div class="form-group">
                <label for="exampleInputEmail1">Wikipedia page</label>
                <select class="form-control" name="link">
                    {{#each nodes}}
                        <option value="{{href}}">{{title}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Connections limit</label>
                <select class="form-control" name="limit">
                    <option value="10">10</option>
                    <option value="50" selected>50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<div id="stats">
    <p>TOTAL PAGES: <span>{{stats.nodeCount}}</span></p>
    <p>TOTAL LINKS: <span>{{stats.linkCount}}</span></p>
</div>

<script src="public/three.r92.min.js"></script>
<script src="public/vanta.net.min.js"></script>
<script>
    VANTA.NET({
        el: "#background-container",
        color: 0x5976cf,
        backgroundColor: 0xfafafa,
        points: 20.00,
        maxDistance: 15.00,
        spacing: 11.00
    });
</script>
<script>
    window.onload = function () {
        fadeOutLoader();
    };

    function fadeOutLoader () {
        let loader = document.getElementsByClassName('spinner-wrapper')[0];
        let opacity = 1;

        function fadeOut () {
            if (opacity <= 0) {
                loader.style.display = 'none';
                return;
            }
            loader.style.opacity = opacity.toString();
            opacity -= 0.08;
            window.requestAnimationFrame(fadeOut);
        }

        window.requestAnimationFrame(fadeOut);
    }
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
